<h1 class="page-title heading">{{headerTitle | titlecase}}</h1>
<div class="catalog">
  <div class="layout">
    <div class="catalog_inner">
      <div class="catalog__main">
        <ng-container>
          
          <section class="catalog__aside" [ngClass]="{'catalog__aside_hidden': isSideBarHidden}">
            
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>  Price </mat-panel-title>
              </mat-expansion-panel-header>
                <mat-slider min="0" max="400" step="1" discrete [displayWith]="formatLabel">
                  <input matSliderStartThumb [(ngModel)]="startThumbValue" (ngModelChange)="onPriceSelected()">
                  <input matSliderEndThumb [(ngModel)]="endThumbValue" (ngModelChange)="onPriceSelected()">
                </mat-slider>
            </mat-expansion-panel>

            <mat-expansion-panel expanded>

              <mat-expansion-panel-header>
                <mat-panel-title>  Brands </mat-panel-title>
                <ngx-skeleton-loader [theme]="{height: '5rem'}"></ngx-skeleton-loader>
              </mat-expansion-panel-header>

              @if ((areBrandsLoading$ | async)) {
                @for (i of [1, 2, 3, 4, 5, 6]; track $index) {
                  <div class="catalog__checkbox-item">
                    <ngx-skeleton-loader [theme]="{height: '1.5rem'}"></ngx-skeleton-loader>
                  </div>
                }
              } @else {
                @for (brand of (brands$ | async); track $index) {
                  <div class="catalog__checkbox-item">
                    <mat-checkbox [checked]="selectedBrand === brand.id" (change)="onBrandSelected(brand.id)">
                      {{brand.name}}
                    </mat-checkbox>
                  </div>
                }
              }

            </mat-expansion-panel>
            <mat-expansion-panel>

              <mat-expansion-panel-header>
                <mat-panel-title>  Types </mat-panel-title>
              </mat-expansion-panel-header>

              @if (areTypesLoading$ | async) {
                @for (i of [1, 2, 3, 4, 5, 6]; track $index) {
                  <div class="catalog__checkbox-item">
                    <ngx-skeleton-loader [theme]="{height: '1.5rem'}"></ngx-skeleton-loader>
                  </div>
                }
              } @else {
                @for (type of (types$ | async); track $index) {                    
                  <mat-checkbox [checked]="selectedType === type.id" (change)="onTypeSelected(type.id)">
                    {{type.name}}
                  </mat-checkbox>
                }
              }

            </mat-expansion-panel>
            <mat-expansion-panel>

              <mat-expansion-panel-header>
                <mat-panel-title>  Colors </mat-panel-title>
              </mat-expansion-panel-header>

              @if (areColorsLoading$ | async) {
                @for (i of [1, 2, 3, 4, 5, 6]; track $index) {
                  <div class="catalog__checkbox-item">
                    <ngx-skeleton-loader [theme]="{height: '1.5rem'}"></ngx-skeleton-loader>
                  </div>
                }
              } @else {
                @for (color of (colors$ | async); track $index) {
                  <div class="catalog__checkbox-item">
                    <mat-checkbox [checked]="selectedColor === color.id" (change)="onColorSelected(color.id)">
                      {{color.name}}
                      <span class="catalog__color-indicator" [ngStyle]="{'background-color': color.colorCode}"></span>
                    </mat-checkbox>
                  </div>
                }
              }

            </mat-expansion-panel>
            <mat-expansion-panel>

              <mat-expansion-panel-header>
                <mat-panel-title>  Sizes </mat-panel-title>
              </mat-expansion-panel-header>

              @if (areSizesLoading$ | async) {
                @for (i of [1, 2, 3, 4, 5, 6]; track $index) {
                  <div class="catalog__checkbox-item">
                    <ngx-skeleton-loader [theme]="{height: '1.5rem'}"></ngx-skeleton-loader>
                  </div>
                }
              } @else {
                @for (size of (sizes$ | async); track $index) {
                  <div class="catalog__checkbox-item">
                    <mat-checkbox [checked]="selectedSize === size.id" (change)="onSizeSelected(size.id)">
                      {{size.name}}
                    </mat-checkbox>
                  </div>
                }
              }

            </mat-expansion-panel>
            <mat-expansion-panel>

              <mat-expansion-panel-header>
                <mat-panel-title>  Materials </mat-panel-title>
              </mat-expansion-panel-header>

              @if (areAttributesLoading$ | async) {
                @for (i of [1, 2, 3, 4, 5, 6]; track $index) {
                  <div class="catalog__checkbox-item">
                    <ngx-skeleton-loader [theme]="{height: '1.5rem'}"></ngx-skeleton-loader>
                  </div>
                }
              } @else {
                @for (material of (materials$ | async); track $index) {
                  <div class="catalog__checkbox-item">
                    <mat-checkbox [checked]="selectedMaterial === material" (change)="onMaterialSelected(material)">
                      {{material}}
                    </mat-checkbox>
                  </div>
                }
              }

            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>  Styles </mat-panel-title>
              </mat-expansion-panel-header>

              @if (areAttributesLoading$ | async) {
                @for (i of [1, 2, 3, 4, 5, 6]; track $index) {
                  <div class="catalog__checkbox-item">
                    <ngx-skeleton-loader [theme]="{height: '1.5rem'}"></ngx-skeleton-loader>
                  </div>
                }
              } @else {
                @for (style of (styles$ | async); track $index) {
                  <div class="catalog__checkbox-item">
                    <mat-checkbox [checked]="selectedStyle === style" (change)="onStyleSelected(style)">
                      {{style}}
                    </mat-checkbox>
                  </div>
                }
              }

            </mat-expansion-panel>
            <mat-expansion-panel>

              <mat-expansion-panel-header>
                <mat-panel-title>  Seasons </mat-panel-title>
              </mat-expansion-panel-header>

              @if (areAttributesLoading$ | async) {
                @for (i of [1, 2, 3, 4, 5, 6]; track $index) {
                  <div class="catalog__checkbox-item">
                    <ngx-skeleton-loader [theme]="{height: '1.5rem'}"></ngx-skeleton-loader>
                  </div>
                }
              } @else {
                @for (season of (seasons$ | async); track $index) {
                  <div class="catalog__checkbox-item">
                    <mat-checkbox [checked]="selectedSeason === season" (change)="onSeasonSelected(season)">
                      {{season}}
                    </mat-checkbox>
                  </div>
                }
              }

            </mat-expansion-panel>
            <mat-expansion-panel>

              <mat-expansion-panel-header>
                <mat-panel-title>  Patterns </mat-panel-title>
              </mat-expansion-panel-header>

              @if (areAttributesLoading$ | async) {
                @for (i of [1, 2, 3, 4, 5, 6]; track $index) {
                  <div class="catalog__checkbox-item">
                    <ngx-skeleton-loader [theme]="{height: '1.5rem'}"></ngx-skeleton-loader>
                  </div>
                }
              } @else {
                @for (pattern of (patterns$ | async); track $index) {
                  <div class="catalog__checkbox-item">
                    <mat-checkbox [checked]="selectedPattern === pattern" (change)="onPatternSelected(pattern)">
                      {{pattern}}
                    </mat-checkbox>
                  </div>
                }
              }

            </mat-expansion-panel>
          </section>
      
          <section class="catalog__content">

            @if (areProductsLoading$ | async) {
              <div class="catalog__list" >
                <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]">
                  <ngx-skeleton-loader 
                  class="catalog__item" 
                  [theme]="{height: '50rem'}" 
                  [ngClass]="{'catalog__item_w_33': !isSideBarHidden}"
                  style="padding: 0 1.5rem 0rem 0;">
                </ngx-skeleton-loader>
                </ng-container>
              </div>
            } @else {
              <div class="catalog__list" [@fastCascade]="products?.length">
                @for (product of (products$ | async); track $index) {
                  <app-product-item class="catalog__item" [ngClass]="{'catalog__item_w_33': !isSideBarHidden}" [product]="product"/>
                }
              </div>
            }

            <div class="catalog__pagination">
              <mat-paginator 
                [length]="100"
                [pageSize]="this.shopParams.pageSize"
                [pageSizeOptions]="[3, 9, 18, 27, 36]"
                aria-label="Select page"
                (page)="onPageChange($event)"
              >
              </mat-paginator>
            </div>
          </section>
 
        </ng-container>
      </div>
    </div>
  </div>
  </div>
  <div>
</div>
