@import "src/app/shared/styles/common.scss";
// :host ::ng-deep .pslider {
//   &.p-slider-horizontal {
//     height: 0.600rem;
//   }
//   &.p-slider-range {
//     background: #48d597;
//   }

//   //.p {
//   //  &-accordion {
//   //
//   //  }
//   //  &-accordion-header {
//   //
//   //  }
//   //
//   //  &-header-link {
//   //    border: none;
//   //
//   //    :focus {
//   //
//   //    }
//   //  }
//   //}
//   .p-accordion .p-accordion-header .p-accordion-header-link {
//     border: none;
//     :focus {
//       outline: none;
//     }
//   }
// }

mat-slider {
  width: 92%;
}


.mat-expansion-panel {
  box-sizing: content-box;
  display: block;
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
  transition: margin 225ms cubic-bezier(0.4, 0, 0.2, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  margin-bottom: 1rem;
}

.catalog {

  &__main {
    display: flex;
    position: relative;
    /*padding-top: 62px;*/
  }

  &__list {
    display: flex;
    margin: -1rem -1rem -1.5rem;
    flex-wrap: wrap;
  }

  &__item {
    
    width: 25%;
    &.catalog__item_w_33 {
      width: 33.3333333333%;
    }
  }

  &__checkbox-item {
    color: #48d597;
    font-size: 1.5rem;
  }

  &__color-indicator {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 1rem;
    border: 0.1px solid;
  }

  &__checkbox-name {

  }

  &__aside {
    max-width: 300px;
    width: 100%;
    flex-shrink: 0;
    padding-right: 50px;

    &.catalog__aside_hidden {
      display: none;
    }

    &-title {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__content {
    width: 100%;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin: 5rem 5rem;
  }

}

.page-title {
  margin-bottom: 67px;
  text-align: center;
}

.heading {
  font-size: 36px;
  line-height: 1.33;
  font-weight: 500;
  font-family: "Playfair Display",sans-serif;
}

.price-slider {

  &__inputs {
    display: flex;
    align-items: center;
    margin: 3.6rem -1.2rem 0;
  }

  &__from, &__to {
    margin: 0 10px;
    width: 100%;
    background: #fff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    appearance: none;
    font-size: 1.5rem;
    height: 3.8rem;
    padding: 0 .8rem;
    outline: none;
    transition: .2s;
    font-weight: 500;
    color: #bdbdbd;
  }

  &__to:last-child {
    margin-left: 0;
  }
}
