<div class="input">
  <label for="{{label}}" class="input__label"> {{label}} </label>
  <div class="input__content">
    <input
      class="input__text-field"
      [ngClass]="(controlDir && controlDir.control && !controlDir.control.valid && controlDir.control.touched) ? !controlDir.control.valid ? 'is-invalid' : 'is-valid' : null"
      [type]="type"
      [pattern]="pattern"
      [minLength]="minLength"
      (input)="onChange($event.target.value)"
      (keypress)="onKeypress($event)"
      (blur)="onTouched()"
      id="{{label}}"
      #input
      placeholder="{{placeholder}}"
      value
    >
    <i 
      class="{{icon}}"
      [ngStyle]="(controlDir && controlDir.control && !controlDir.control.valid && controlDir.control.touched) ? {'color': 'red'} : {'color': 'green'} "
    ></i>
    @if (controlDir && controlDir.control && controlDir.control.status === 'PENDING') {
      <i class="pi pi-spin pi-spinner input__loading-icon"></i>
    }
    
  </div>
  @if ((controlDir && controlDir.control && !controlDir.control.valid && controlDir.control.touched)) {
    <div class="input__validation-warning">
      @if (controlDir.control.errors?.required) {
        <span class="input__warning-label"> {{label}} is required </span>
      }
      @if (controlDir.control.errors?.pattern) {
        <span class="input__warning-label"> Email is not valid </span>
      }
      @if (controlDir.control.errors?.minlength) {
        <span class="input__warning-label"> Password must be at least 6 characters </span>
      }
      @if (controlDir.control.errors?.minlength) {
        <span class="input__warning-label"> Phone should be at least 10 characters </span>
      }   
      @if (controlDir.control.errors?.emailExists) {
        <span class="input__warning-label"> Email address is in use </span>
      }
      @if (controlDir.control.errors?.phoneErrors) {
        <span class="input__warning-label"> Phone number is not valid </span>
      }
    </div>
  }
</div>
