$primary: #48d597; // #58B57D;
$accent: #FF5722; // #ff5002;
$warn: #FBC02D; // #fbde44;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-mdl: 1024px;
$breakpoint-lg: 1200px;
