@import "src/app/shared/styles/common.scss";

.mat-sidenav-container {
  height: 65rem;
  margin-bottom: 6rem;
}

.pi {
  font-size: 2rem;
  margin-right: 1rem;
}

.mat-toolbar.mat-primary {
  background: #e9ecef00;
  box-shadow: 1px 1px 4px #dfdbdb;
  color: rgb(82, 81, 81);
  font-size: 1.8rem;
  font-weight: 400;
}

.p {
  padding: 0 1rem;
}



.mat-drawer.mat-drawer-side {
  z-index: 2;
  border: none;
  box-shadow: 2px 0 8px rgb(194 189 189 / 10%);
  min-width: 23rem;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  width: 4.8rem;
  height: 4.8rem;
  padding: 1.2rem;
  border: 1px dashed;
  margin-right: 1.6rem;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mdc-list-item__primary-text {
  display: flex;
  align-items: center;
}

.list-item {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 1.6rem;
  }
}
