<main>
  <section class="hero">
    <div class="layout">
      <div class="hero__inner">
        @if (areImagesLoading$ | async) {
          <ngx-skeleton-loader 
            [theme]="{height: '55rem'}"
          >
          </ngx-skeleton-loader>
        } @else {
          <div class="hero__slider">
            <p-carousel
              [autoplayInterval]="8000"
              animationTimeout="1000"
              [value]="carouselPictures$ | async"
              [numVisible]="1"
              [numScroll]="1"
              [showIndicators]="false"
            >
            
              <ng-template let-image pTemplate="item">
                <img src="{{ image.url }}" alt="image" class="w-100" (load)="areImagesLoading$"/>
              </ng-template>
            </p-carousel>
          </div>
        }
      </div>
    </div>
  </section>
  <section class="categories">
    <div class="layout">
      <div class="categories__inner">
        <div class="categories__title">
          Categories
        </div> 
          <div class="categories__list" [@cascade]="(categories$ | async)?.length">
            @for (category of (categories$ | async); track category.id) {
              <div class="categories__item">
                <a class="categories__item-link" [routerLink]="['/shop/', category.name]" [style.background-image]="'url(' + category.pictureUrl + ')'">
                  <span class="categories__item-caption">
                    <span class="categories__item-title">
                      {{category.name}}
                    </span>
                  </span>
                </a>
              </div>
            } @empty {
              <div class="categories__list">
                @for (i of [1, 2, 3, 4, 5, 6]; track i) {
                  <ngx-skeleton-loader class="categories__item hero" 
                  [theme]="{
                    height: '55rem',
                    width: '110rem',
                    }">
                </ngx-skeleton-loader>
                }
              </div>
            }
          </div>
      </div>
    </div>
  </section>
  
  <app-related-products
    title="New products"
    [isLoading$]="areNewProductsLoading$"
    category="new"
    [products$]="productNew$"
    [type]="'New'"
    [quantity]="4"
  />

  <app-related-products
    title="Bestsellers"
    [isLoading$]="areBestsellersLoading$"
    category="bestsellers"
    [products$]="productBestsellers$"
    [type]="'Bestsellers'"
    [quantity]="4"
  />

  <app-related-products
    title="Sale"
    [isLoading$]="areOnSaleProductsLoading$"
    category="sale"
    [products$]="productOnSale$"
    [type]="'Sale'"
    [quantity]="4"
  />

  @if (((recentlyViewedProducts$ | async) && (recentlyViewedProducts$ | async).length > 0); as IProduct[]) {
    <app-related-products
      title="Viwed products"
      [isLoading$]="areRecentlyViewedProductsLoading$"
      category="sale"
      [products$]="recentlyViewedProducts$"
    />
  }

  <app-reviews-block [reviews$]="latestReviews$"/>
</main>
