<main>
  
  <section class="hero">
    <div class="layout">
      <div class="hero__inner">
        @if (areImagesLoading()) {
          <ngx-skeleton-loader [theme]="{height: '55rem'}"></ngx-skeleton-loader>
        } @else {
          <div class="hero__slider">
            <p-carousel
              [autoplayInterval]="8000"
              animationTimeout="1000"
              [value]="productImage"
              [numVisible]="1"
              [numScroll]="1"
              [showIndicators]="false"
            >
            
              <ng-template let-image pTemplate="item">
                <img src="{{ image.url }}" alt="image" class="w-100" (load)="areImagesLoading.set(false)"/>
              </ng-template>
            </p-carousel>
          </div>
        }
      </div>
    </div>
  </section>

  <section class="categories">
    <div class="layout">
      <div class="categories__inner">
        <div class="categories__title">
          Categories
        </div>
        @if (areCategoriesLoading()) {
          <div class="categories__list">
            @for (i of [1, 2, 3, 4, 5, 6]; track i) {
              <ngx-skeleton-loader class="categories__item hero" [theme]="{height: '55rem'}"></ngx-skeleton-loader>
            }
          </div>
        } @else {
          <div class="categories__list" [@cascade]="categories?.length">
            @for (category of categories; track category.id) {
              <div class="categories__item hero">
                <a class="categories__item-link" [routerLink]="['/shop/', category.name]" [style.background-image]="'url(' + category.pictureUrl + ')'">
                  <span class="categories__item-caption">
                  <span class="categories__item-title">
                    {{category.name}}
                  </span>
                </span>
                </a>
              </div>
            }
          </div>
        }
      </div>
    </div>
  </section>
  
  <app-related-products
    title="New products"
    category="new"
    [products]="newProducts"
  />

  <app-related-products
    title="Bestsellers"
    category="bestsellers"
    [products]="bestSellersProducts"
  />

  <app-related-products
    title="Sale"
    category="sale"
    [products]="onSaleProducts"
  />

  @if ((seenProducts$ | async).reverse(); as SeenProducts) {
    <app-related-products
      title="Seen products"
      category="sale"
      [products]="SeenProducts"
    />
  }

  <section class="reviews">

  </section>
</main>
<app-subscribe-block/>
