<div class="navigation">
  <ul class="navigation__layout">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a routerLink="/shop/new" class="navigation__link">
          New arrivals
        </a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link">
          Moda collection
        </a>
      </li>
      <li class="navigation__item">
        <a routerLink="/shop/bestsellers" class="navigation__link">
          Bestsellers
        </a>
      </li>
      <li class="navigation__item">
        <a routerLink="/shop/sale" class="navigation__link">
          Sale
        </a>
      </li>
    </ul>
  </ul>
</div>
