<div class="navigation">
  <ul class="navigation__layout">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="" class="navigation__link">
          Catalog
        </a>
      </li>
      <li class="navigation__item">
        <a href="" class="navigation__link">
          Spring collection
        </a>
      </li>
      <li class="navigation__item">
        <a href="" class="navigation__link">
          Best sellers
        </a>
      </li>
      <li class="navigation__item">
        <a href="" class="navigation__link">
          Sale
        </a>
      </li>
    </ul>
  </ul>
</div>
