<div class="product">
  <div class="product__layout">
    <div class="product-about">
      <div class="product-about__left">
        @if (product) {
          <div class="product-slider">
            <p-galleria
              [numVisible]="3"
              [value]="sliderImage"
              [showItemNavigators]="true"
              [showThumbnails]="false"
              [circular]="true"
              [showItemNavigatorsOnHover]="true"
            >
              <ng-template pTemplate="item" let-item>
                <img
                  [src]="item?.previewImageSrc"
                  [alt]="item?.alt"
                  [title]="item?.title"
                  style="width: 100%;"
                >
                <div class="item__labels">
                  @if (product?.isNew) {
                    <div class="item-label item-label_blue"> New</div>
                  }
                  @if (product?.isBestSeller) {
                    <div class="item-label item-label_orange"> Bestseller</div>
                  }
                  @if (product?.oldPrice !== null && product?.oldPrice > 0) {
                    <div class="item-label item-label_red"> -{{ calculateDiscount(item.oldPrice, item.price) }} </div>
                  }
                </div>
              </ng-template>
  
  
              <ng-template pTemplate="thumbnail" let-item width="50%">
                <div class="grid  grid-nogutter justify-content-center">
                  <img
                    [src]="item?.thumbnailImageSrc"
                    [alt]="item?.alt"
                    [title]="item?.title"
                    width=80%
                  />
                </div>
              </ng-template>
  
            </p-galleria>
          </div>
        } @else {
          <ngx-skeleton-loader 
          [theme]="{height: '80rem', width: '61rem'}"
          ></ngx-skeleton-loader>
        }
      </div>
      <div class="product-about__right">
      <div class="product-card">
        <div class="product-card__description">
          <div class="product-card__header">
            @if (product) {
            <h1 class="product-card__title">
              {{product?.name}}
            </h1>
            } @else {
              <ngx-skeleton-loader 
                [theme]="{height: '2.5rem', width: '30rem'}"
              ></ngx-skeleton-loader>
            }

          </div>
          @if (product) {
            <div class="product-card__panel">
              <div class="product-card__panel-article"> Brand: {{product?.productBrand}}</div>
              <div class="product-card__rating">
                <p-rating [(ngModel)]="ratingValue" [cancel]="false"/>
              </div>
                <div class="product-card__reviews">
                  <a href="#" class="product-card__reviews-count"> {{productReviews?.length}} reviews</a>
                </div>
            </div>
          } @else {
            <ngx-skeleton-loader 
              [theme]="{height: '2.5rem', width: '30rem'}"
            ></ngx-skeleton-loader>
          }
          @if (product) {
            <div class="product-card__price">
              <div class="product-card__current-price">
                Price: {{product?.price | currency:'USD':true:'1.2-2'}}
              </div>
              @if (product?.oldPrice !== null && product?.oldPrice > 0) {
                <div class="product-card__old-price">
                  {{product?.oldPrice | currency:'USD':true:'1.2-2'}}
                </div>
              }
            </div>
          } @else {
            <ngx-skeleton-loader 
              [theme]="{height: '2.5rem', width: '20rem'}"
            ></ngx-skeleton-loader>
          }
          @if (product) {
            <div class="product-card__color">
              <div class="product-card__color-title">
                Select color:
              </div>
              @if (product?.colors?.length > 0) {
                <div class="color-palette">
                  <a href="" class="color-palette__link" *ngFor="let color of product?.colors" [ngStyle]="{ 'background': color.colorCode }"></a>
                </div>
              }
            </div>
          } @else {
            <ngx-skeleton-loader 
              [theme]="{height: '2.5rem', width: '20rem'}"
            ></ngx-skeleton-loader>
          }
          @if (product) {
            <div class="product-card__sizes">
              <div class="product-card__sizes-title">
                Select your size:
                <a (click)="sidebarVisible = true" class="product-card__sizes-link">table of sizes</a>
                <p-sidebar [(visible)]="sidebarVisible" position="right">
                </p-sidebar>
              </div>
            <div class="product-card__sizes-options">
              @for (size of product.sizes; track $index) {
                <label class="product-card__sizes-option">
                  <input type="radio" name="size" class="product-card__sizes-option-input" value="S">
                  <span class="product-card__sizes-option-box"> {{size?.name}} </span>
                </label>
              }
            </div>
              <div></div>
            </div>
          } @else {
            <ngx-skeleton-loader 
              [theme]="{height: '2.5rem', width: '20rem'}"
            ></ngx-skeleton-loader>
          }         
        </div>
 
        <div class="product-sale">
          <div class="product-sale__container">
          <div class="product-sale__buy-button">
            @if (product) {
              <app-button
              (click)="addProductToBasket()"
              buttonName="Add to basket"
              buttonStyle="btn btn_color_dark btn_size_large basket-list__checkout-button"
              showIcon="true"
              iconClass="pi pi-shopping-bag"
              />
            } @else {
              <ngx-skeleton-loader 
                [theme]="{height: '4.8rem', width: '24.6rem'}"
              ></ngx-skeleton-loader>
            }
          </div>
            <div class="product-sale__buy-button">
              @if (product) {
                <app-button
                  (click)="addItemToWishList()"
                  buttonName="Add to wishlist"
                  buttonStyle="btn btn_color_light btn_size_large"
                  showIcon="true"
                  iconClass="pi pi-heart"
                />
              } @else {
                <ngx-skeleton-loader 
                  [theme]="{height: '4.8rem', width: '24.6rem'}"
                ></ngx-skeleton-loader>
              }
            </div>
          </div>
        </div>
        <div class="product-card__warehouse">
          @if (product) {
            <a class="product-card__warehouse-link">
              Availability in stores
            </a>
          } @else {
            <ngx-skeleton-loader 
              [theme]="{height: '2.5rem', width: '10rem'}"
            ></ngx-skeleton-loader>
          }
        </div>
      </div>
      </div>
    </div>
    <div class="product-details">
      <mat-tab-group>
        <mat-tab label="Description">
          @if (product) {
            <div class="product-details__description"> 
              {{product?.description}}
            </div>
          } @else {
            <ngx-skeleton-loader 
              count="5" 
              appearance="line" 
              [theme]="{height: '1.5rem'}"
            ></ngx-skeleton-loader>
          }
        </mat-tab>
        <mat-tab label="Details">
          <div class="props">
            <div class="props__group">
              <div class="props__row">
                <div class="props__cell">
                  Brand
                </div>
                <div class="props__cell">
                  {{product?.productBrand}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Color
                </div>
                <div class="props__cell">
                  {{product?.colors[0]?.name}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Material
                </div>
                <div class="props__cell">
                  {{product?.material}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Neckline
                </div>
                <div class="props__cell">
                  {{product?.neckline}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Season
                </div>
                <div class="props__cell">
                  {{product?.season}}
                </div>

              </div>
            </div>
            <div class="props__group">
              <div class="props__row">
                <div class="props__cell">
                  Style
                </div>
                <div class="props__cell">
                  {{product?.style}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Pattern
                </div>
                <div class="props__cell">
                  {{product?.pattern}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Sleeve
                </div>
                <div class="props__cell">
                  {{product?.sleeve}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Product type
                </div>
                <div class="props__cell">
                  {{product?.productType}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Waistline
                </div>
                <div class="props__cell">
                  {{product?.waistline}}
                </div>

              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Reviews">
          <div class="product-details__reviews">
            <div class="product-reviews">
              <div class="product-reviews__list">
                @if (productReviews?.length > 0) {
                  @for (review of (productReviews$ | async); track $index) {
                    <app-review [review]="review"/>
                  }
                } @else {
                  <div class="product-reviews__empty">
                    <div class="product-reviews__empty-text">
                      No reviews yet
                    </div>
                  </div>
                }
              </div>
            </div>
            <div class="product-reviews__insert">
              <form [formGroup]="reviews">
                <div class="product-reviews__rating">
                  <div class="product-reviews__rating-title">
                    Your product rating is:
                  </div>
                  <p-rating formControlName="rating" [cancel]="false"/>
                </div>
                <div>
                  <textarea rows="5" cols="30" pInputTextarea [autoResize]="true" formControlName="comment"  style="width: 100%;"></textarea>
                </div> 
                <app-button
                  (click)="createReview()"
                  buttonName="Add review"
                  buttonStyle="btn btn_color_light btn_size_medium basket-list__checkout-button"
                  showIcon="true"
                  iconClass="pi pi-comment"
                />       
              </form>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <app-related-products
      title="Related products"
      [isLoading$]="areRelatedProductsLoading$"
      [products$]="relatedProducts$" 
    />

    @if (((recentlyViewedProducts$ | async) && (recentlyViewedProducts$ | async).length > 0); as IProduct[]) {
      <app-related-products
        title="Viewed products"
        [isLoading$]="areRecentlyViewedProductsLoading$"
        category="sale"
        [products$]="recentlyViewedProducts$"
      />
    }

  </div>
</div>

