<div class="product">
  <div class="product__layout">
    <div class="product-about">
      <div class="product-about__left">
        <div class="product-slider">
          <p-galleria
            [numVisible]="3"
            [value]="sliderImage"
            [showItemNavigators]="true"
            [showThumbnails]="false"
            [circular]="true"
            [showItemNavigatorsOnHover]="true"
          >

            <ng-template pTemplate="item" let-item>
              <img
                [src]="item.previewImageSrc"
                [alt]="item.alt"
                [title]="item.title"
                style="width: 100%;"
              >
              <div class="item__labels">
                <ng-container *ngIf="product.isNew">
                  <div class="item-label item-label_blue"> New</div>
                </ng-container>
                <ng-container *ngIf="product.isBestSeller">
                  <div class="item-label item-label_orange"> Bestseller</div>
                </ng-container>
                <ng-container *ngIf="product.oldPrice !== null && product.oldPrice > 0">
                  <div class="item-label item-label_red"> -{{ product.oldPrice | discount: product.price }} </div>
                </ng-container>
              </div>
            </ng-template>


            <ng-template pTemplate="thumbnail" let-item width="50%">
              <div class="grid  grid-nogutter justify-content-center">
                <img
                  [src]="item.thumbnailImageSrc"
                  [alt]="item.alt"
                  [title]="item.title"
                  width=80%
                />
              </div>
            </ng-template>

          </p-galleria>
          <!--<img src="https://cdn.dressa.com.ua/ostrov-cache/sylius_extra_large/fd/plate-na-uzkih-bretelyah-s-cvetochnym-printom-beloe-59103-1683010716-1.jpg" style="width: 40%; display: block;" />-->
        </div>
      </div>
      <div class="product-about__right">
      <div class="product-card">
          <div class="product-card__description">
            <div class="product-card__header">
              <h1 class="product-card__title">
                {{product?.name}}
              </h1>
            </div>
            <div class="product-card__panel">
              <div class="product-card__panel-article"> Brand: {{product?.productBrand}}</div>
              <div class="product-card__rating">
                <p-rating [(ngModel)]="ratingValue" [cancel]="false"/>
              </div>
              <!--<ng-container *ngIf="product.reviews?.length  0; else reviews">
                <div class="product-card__reviews">
                  <a href="#" class="product-card__reviews-count"> {{product.reviews?.length}} </a>
                </div>
              </ng-container>-->
              <!--<ng-template #reviews>-->
                <div class="product-card__reviews">
                  <a href="#" class="product-card__reviews-count"> {{product.reviews?.length}} reviews</a>
                </div>
              <!--</ng-template>-->
            </div>
            <div class="product-card__price">
              <div class="product-card__current-price">
                Price: {{product.price | currency:'USD':true:'1.2-2'}}
              </div>
              <ng-container *ngIf="product.oldPrice !== null && product.oldPrice > 0">
                <div class="product-card__old-price">
                  {{product.oldPrice | currency:'USD':true:'1.2-2'}}
                </div>
              </ng-container>
            </div>
            <div class="product-card__color">
              <div class="product-card__color-title">
                Select color:
              </div>
              <ng-container *ngIf="product.colors?.length > 0">
                <div class="color-palette">
                  <a href="" class="color-palette__link" *ngFor="let color of product.colors" [ngStyle]="{ 'background': color.colorCode }"></a>
                </div>
              </ng-container>
            </div>
            <div class="product-card__sizes">
                <div class="product-card__sizes-title">
                  Select your size:
                  <a (click)="sidebarVisible = true" class="product-card__sizes-link">table of sizes</a>
                  <p-sidebar [(visible)]="sidebarVisible" position="right">
                  </p-sidebar>
                </div>
              <div class="product-card__sizes-options">
                <!--&lt;!&ndash;<ng-container *ngIf="product.size?.length > 0">-->
                  <ng-container *ngFor="let size of product.sizes">
                    <label class="product-card__sizes-option">
                      <input type="radio" name="size" class="product-card__sizes-option-input" value="S">
                      <span class="product-card__sizes-option-box"> {{size.name}} </span>
                   </label>
                <!--&lt;!&ndash;  </ng-container>-->
                </ng-container>
              </div>
                <div></div>
              </div>
            </div>
            <div class="product-sale">
              <div class="product-sale__container">
              <div class="product-sale__buy-button">
                <app-button
                  (click)="addItemToWishList()"
                  buttonName="Add to basket"
                  buttonStyle="btn btn_color_dark btn_size_large basket-list__checkout-button"
                  showIcon="true"
                  iconClass="pi pi-shopping-bag"
                />
              </div>
                <div class="product-sale__buy-button">
                  <app-button
                    (click)="addProductToBasket()"
                    buttonName="Add to wishlist"
                    buttonStyle="btn btn_color_light btn_size_large"
                    showIcon="true"
                    iconClass="pi pi-heart"
                  />
                </div>
              </div>
              <i class="fa-sharp fa-light fa-bag-shopping"></i>
            </div>
            <div class="product-card__warehouse">
              <a class="product-card__warehouse-link">
                Availability in stores
              </a>
            </div>
      </div>
      </div>
    </div>
    <div class="product-details">
      <p-tabView>
        <p-tabPanel header="Description">
          <div class="product-details__description">
          {{product.description}}
          </div>
        </p-tabPanel>
        <p-tabPanel header="Details">
          <div class="props">
            <div class="props__group">
              <div class="props__row">
                <div class="props__cell">
                  Brand
                </div>
                <div class="props__cell">
                  {{product.productBrand}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Color
                </div>
                <div class="props__cell">
                  {{product.colors[0].name}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Material
                </div>
                <div class="props__cell">
                  {{product.material}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Neckline
                </div>
                <div class="props__cell">
                  {{product.neckline}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Season
                </div>
                <div class="props__cell">
                  {{product.season}}
                </div>

              </div>
            </div>
            <div class="props__group">
              <div class="props__row">
                <div class="props__cell">
                  Style
                </div>
                <div class="props__cell">
                  {{product.style}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Pattern
                </div>
                <div class="props__cell">
                  {{product.pattern}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Sleeve
                </div>
                <div class="props__cell">
                  {{product.sleeve}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Product type
                </div>
                <div class="props__cell">
                  {{product.productType}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Waistline
                </div>
                <div class="props__cell">
                  {{product.waistline}}
                </div>

              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Reviews">
          <div class="product-details__reviews">
            <!--<div class="product-details__reviews-title">
              Reviews
            </div>-->
            <div class="product-details__reviews-text">
              <ng-container *ngIf="product.reviews.length > 0">
                <ng-container *ngFor="let review of product.reviews">
                  <app-review [review]="review"/>
                  <app-review [review]="review"/>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
    <app-related-products
      title="Related products"
      [products]="product.relatedProducts"
    />

    <ng-container *ngIf="(history$ | async)?.seenProducts">
      <app-seen-items
        title="Seen products"
      />
    </ng-container>


  </div>
</div>

