<div class="product">
  <div class="product__layout">
    <div class="product-about">
      <div class="product-about__left">
        <ng-container *ngIf="true; else slider">
          <ngx-skeleton-loader 
          [theme]="{height: '80rem', width: '61rem'}"
          ></ngx-skeleton-loader>
        </ng-container>
        <ng-template #slider>
          <div class="product-slider">
            <p-galleria
              [numVisible]="3"
              [value]="sliderImage"
              [showItemNavigators]="true"
              [showThumbnails]="false"
              [circular]="true"
              [showItemNavigatorsOnHover]="true"
            >
              <ng-template pTemplate="item" let-item>
                <img
                  [src]="item?.previewImageSrc"
                  [alt]="item?.alt"
                  [title]="item?.title"
                  style="width: 100%;"
                >
                <div class="item__labels">
                  <ng-container *ngIf="product?.isNew">
                    <div class="item-label item-label_blue"> New</div>
                  </ng-container>
                  <ng-container *ngIf="product?.isBestSeller">
                    <div class="item-label item-label_orange"> Bestseller</div>
                  </ng-container>
                  <ng-container *ngIf="product?.oldPrice !== null && product?.oldPrice > 0">
                    <div class="item-label item-label_red"> -{{ product?.oldPrice | discount: product?.price }} </div>
                  </ng-container>
                </div>
              </ng-template>
  
  
              <ng-template pTemplate="thumbnail" let-item width="50%">
                <div class="grid  grid-nogutter justify-content-center">
                  <img
                    [src]="item?.thumbnailImageSrc"
                    [alt]="item?.alt"
                    [title]="item?.title"
                    width=80%
                  />
                </div>
              </ng-template>
  
            </p-galleria>
          </div>
        </ng-template>
      </div>
      <div class="product-about__right">
      <div class="product-card">
        <div class="product-card__description">
          <div class="product-card__header">
            <h1 class="product-card__title">
              <ngx-skeleton-loader 
              [theme]="{height: '2.5rem', width: '50rem'}"
              ></ngx-skeleton-loader>
              {{product?.name}}
            </h1>
          </div>
          <ng-container *ngIf="true; else panel">
            <ngx-skeleton-loader 
            [theme]="{height: '2.5rem', width: '30rem'}"
            ></ngx-skeleton-loader>
          </ng-container>
          <ng-template #panel>
            <div class="product-card__panel">
              <div class="product-card__panel-article"> Brand: {{product?.productBrand}}</div>
              <div class="product-card__rating">
                <p-rating [(ngModel)]="ratingValue" [cancel]="false"/>
              </div>
                <div class="product-card__reviews">
                  <a href="#" class="product-card__reviews-count"> {{product?.reviews?.length}} reviews</a>
                </div>
            </div>
          </ng-template>
          <ng-container *ngIf="true; else price">
            <ngx-skeleton-loader 
            [theme]="{height: '2.5rem', width: '20rem'}"
            ></ngx-skeleton-loader>
          </ng-container>
          <ng-template #price>
            <div class="product-card__price">
              <div class="product-card__current-price">
                Price: {{product?.price | currency:'USD':true:'1.2-2'}}
              </div>
              <ng-container *ngIf="product?.oldPrice !== null && product?.oldPrice > 0">
                <div class="product-card__old-price">
                  {{product?.oldPrice | currency:'USD':true:'1.2-2'}}
                </div>
              </ng-container>
            </div>
          </ng-template>
          <ng-container *ngIf="true; else color">
            <ngx-skeleton-loader 
            [theme]="{height: '2.5rem', width: '20rem'}"
            ></ngx-skeleton-loader>
          </ng-container>
          <ng-template #color>
            <div class="product-card__color">
              <div class="product-card__color-title">
                Select color:
              </div>
              <ng-container *ngIf="product?.colors?.length > 0">
                <div class="color-palette">
                  <a href="" class="color-palette__link" *ngFor="let color of product?.colors" [ngStyle]="{ 'background': color.colorCode }"></a>
                </div>
              </ng-container>
            </div>
          </ng-template>
          <ng-container *ngIf="true; else sizes">
            <ngx-skeleton-loader 
            [theme]="{height: '2.5rem', width: '20rem'}"
            ></ngx-skeleton-loader>
          </ng-container>
          <ng-template #sizes>
            <div class="product-card__sizes">
              <div class="product-card__sizes-title">
                Select your size:
                <a (click)="sidebarVisible = true" class="product-card__sizes-link">table of sizes</a>
                <p-sidebar [(visible)]="sidebarVisible" position="right">
                </p-sidebar>
              </div>
            <div class="product-card__sizes-options">
              <!--&lt;!&ndash;<ng-container *ngIf="product.size?.length > 0">-->
                <ng-container *ngFor="let size of product?.sizes">
                  <label class="product-card__sizes-option">
                    <input type="radio" name="size" class="product-card__sizes-option-input" value="S">
                    <span class="product-card__sizes-option-box"> {{size?.name}} </span>
                  </label>
              <!--&lt;!&ndash;  </ng-container>-->
              </ng-container>
            </div>
              <div></div>
            </div>
          </ng-template>          
        </div>

        <div class="product-sale">
          <div class="product-sale__container">
          <div class="product-sale__buy-button">

            <ng-container *ngIf="true; else buyButton">
              <ngx-skeleton-loader 
              [theme]="{height: '4.8rem', width: '24.6rem'}"
              ></ngx-skeleton-loader>
            </ng-container>
            <ng-template #buyButton>
              <app-button
              (click)="addItemToWishList()"
              buttonName="Add to basket"
              buttonStyle="btn btn_color_dark btn_size_large basket-list__checkout-button"
              showIcon="true"
              iconClass="pi pi-shopping-bag"
              />
            </ng-template>

          </div>
            <div class="product-sale__buy-button">
              <ng-container *ngIf="true; else wishButton">
                <ngx-skeleton-loader 
                [theme]="{height: '4.8rem', width: '24.6rem'}"
                ></ngx-skeleton-loader>
              </ng-container>
              <ng-template #wishButton>
                <app-button
                (click)="addProductToBasket()"
                buttonName="Add to wishlist"
                buttonStyle="btn btn_color_light btn_size_large"
                showIcon="true"
                iconClass="pi pi-heart"
              />
              </ng-template>
            </div>
          </div>
        </div>
        <div class="product-card__warehouse">
          <ng-container *ngIf="true; else link">
            <ngx-skeleton-loader 
            [theme]="{height: '2.5rem', width: '10rem'}"
            ></ngx-skeleton-loader>
          </ng-container>
          <ng-template #link>
          <a class="product-card__warehouse-link">
            Availability in stores
          </a>
          </ng-template>
        </div>
      </div>
      </div>
    </div>
    <div class="product-details">
      <p-tabView>
        <p-tabPanel header="Description">
          <ngx-skeleton-loader 
          count="5" 
          appearance="line" 
          [theme]="{height: '1.5rem'}"
          ></ngx-skeleton-loader>
          <div class="product-details__description">
          {{product?.description}}
          </div>
        </p-tabPanel>
        <p-tabPanel header="Details">
          <div class="props">
            <div class="props__group">
              <div class="props__row">
                <div class="props__cell">
                  Brand
                </div>
                <div class="props__cell">
                  {{product?.productBrand}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Color
                </div>
                <div class="props__cell">
                  {{product?.colors[0]?.name}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Material
                </div>
                <div class="props__cell">
                  {{product?.material}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Neckline
                </div>
                <div class="props__cell">
                  {{product?.neckline}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Season
                </div>
                <div class="props__cell">
                  {{product?.season}}
                </div>

              </div>
            </div>
            <div class="props__group">
              <div class="props__row">
                <div class="props__cell">
                  Style
                </div>
                <div class="props__cell">
                  {{product?.style}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Pattern
                </div>
                <div class="props__cell">
                  {{product?.pattern}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Sleeve
                </div>
                <div class="props__cell">
                  {{product?.sleeve}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Product type
                </div>
                <div class="props__cell">
                  {{product?.productType}}
                </div>

              </div>
              <div class="props__row">
                <div class="props__cell">
                  Waistline
                </div>
                <div class="props__cell">
                  {{product?.waistline}}
                </div>

              </div>
            </div>
          </div>
        </p-tabPanel>
        <p-tabPanel header="Reviews">
          <div class="product-details__reviews">
            <!--<div class="product-details__reviews-title">
              Reviews
            </div>-->
            <div class="product-details__reviews-text">
              <ng-container *ngIf="product?.reviews?.length > 0">
                <ng-container *ngFor="let review of product?.reviews">
                  <app-review [review]="review"/>
                  <app-review [review]="review"/>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
    <app-related-products
      title="Related products"
      [isLoading$]=""
      [products$]="product?.relatedProducts"
    />
<!-- 
    <ng-container *ngIf="(history$ | async).reverse() as SeenProducts">
      <app-related-products
        title="Seen products"
        category="sale"
        [products]="SeenProducts"
      />
    </ng-container> -->


  </div>
</div>

