.login-field {
  max-width: 400px;
  padding: 32px 40px;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;

  &__navigation {
    display: flex;
    overflow-x: auto;
  }

  &__oauth {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  &__error {
    display: flex;
    padding: 5rem 2rem;
    justify-content: center;
    margin-top: 2rem;
    border-radius: 8px;
    box-shadow: 1px 1px 4px #bababa;
    opacity: 0;
    transition: opacity 4s ease-in-out;
    background-color: #fbd9d9;
    &.show {
      opacity: 1;
    }
  }

  &__error-text {
    font-size: 1.6rem;
    color: rgb(82, 82, 82);
  }

  &__additional-text {
    color: #777;
    margin-top: 24px;
    text-align: center;
  }

  &__form {
    margin-top: 24px;
  }

  &__forgot-pass {
    display: block;
    margin-top: 24px;
    text-align: center;
    width: 100%;
    color: #48d597;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: transparent;
  }
}

.login-nav {
  &__login {
  background-color: #eee;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  color: #414141;
  font-weight: 500;
  padding: 10px 16px;
  border-radius: 8px;
  margin-right: 8px;
  }

  &__registration {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    box-sizing: border-box;
    margin-right: 0px;
    /*padding: 10px 16px;*/
    border-radius: 8px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #414141;
    font-weight: 500;
  }
}

.oauth {
  &__facebook {
    background-color: #44619d;
    border: none;
    border-radius: 8px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0;
    width: 100%;
    transition: background-color .3s;
  }

  &__facebook-icon {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 18px 0 8px;
  }

  &__google {
    background-color: #4284f4;
    border: none;
    border-radius: 8px;
    height: 40px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 0;
    width: 100%;
    transition: background-color .3s;
    margin-left: 8px;
  }

  &__google-icon {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 18px 0 8px;
  }
}

.login-form {

  &__button {
    font-weight: 600;
    box-sizing: border-box;
    width: 100%;
    background-color: #48d597;
    color: #414141;
    margin-top: 24px;
    padding: 0 16px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    letter-spacing: .1px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
    justify-content: center;

    &_invalid {
      background-color: #E8E8E8;
      cursor: default;
      &:hover {
        background-color: #E8E8E8
      }
    }
  
    &:hover {
      background-color: #8fdbb0;
      color: #414141;
    }
  }
}