@import "src/assets/scss/_variables.scss";
@import "src/assets/scss/_breakpoints.scss";


.layout {
  position: relative;
  z-index: 10; 
  background: #fff;
  max-width: 118rem;
  margin: 0 auto;

  &.isModalActivated {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 1px 2px 6px #4d4d4d;
  }
}
.custom-dialog-container .mat-dialog-container {
  border-radius: 8px;
}

:root  {
  .p-dialog.p-confirm-dialog .p-confirm-dialog-icon {
    font-size: 2.6rem;
  }
  .p-dialog.p-confirm-dialog .p-confirm-dialog-message {
    font-size: 1.6rem;
  }

  .p-dialog .p-dialog-content {
    justify-content: center;
  }

  .p-confirm-dialog-message {
    margin: 0 1rem;
  }

  .p-dialog .p-dialog-footer button {
    font-size: 1.6rem;
    width: 6rem;
    height: 3rem;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.mat-icon {
  margin-right: 1rem;
}

.search {
  display: flex;
  align-items: center;
  position: absolute;
  left: 6.4rem;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  z-index: 2;
  border-radius: 8px;
  opacity: 0;
  transition: .15s;

  @media (max-width: 480px) {
    left: 7.4rem;
  }
  &:not(.is-active) {
    pointer-events: none;
  }
  &.is-active {
    opacity: 1;
  }

  &__submit {
    display: flex;
    justify-content: center;
    appearance: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background: transparent;

  }
  &__field {
    margin-left: 1.6rem;
  }

  &__input {
    width: 100%;
    height: 100%;
    display: block;
    appearance: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background: transparent;
    &::placeholder {
      color: currentColor;
      opacity: .5;
    }

    @media (max-width: 480px) {
      font-size: 1.6rem;
    }
  }

  &__reset {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
    stroke: #bdbdbd;
    width: 4.8rem;
    height: 100%;
    transition: .2s;
    cursor: pointer;
    &:hover {
      stroke: #212121;
    }
  }

  &__input {
    margin-left: 1.6rem;
    width: 100%;
    height: 100%;
    display: block;
    appearance: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background: transparent;
    &::placeholder {
      color: currentColor;
      opacity: .5;
    }
  }
}

.align-r {
  justify-content: flex-end
}

.m-width {
  min-width: 19.2em;
}

.header {
  width: 100%;
  background: #fff;
  opacity: 0.97;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: top 0.3s;
  margin: 0 auto;

  @media (max-width: 1180px) {
    padding: 0 2rem;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 0 1rem;
  }

  &.header-hidden {
    top: -120px;
  } 

  &__main {
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
    position: relative;

    &._no-border {
      border-bottom: none;
    }

    @media (max-width: 480px) {
      min-height: 12rem;
      justify-content: center;
    }
  }

  &__search-field {
    padding: 0 2rem;
    overflow-y: auto;
    max-height: 90vh;
  }

  &__hide-field {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    border-bottom: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    border-left: 1px solid gainsboro;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #f9f9f991;

    &._hidden {
      display: none;
    }

  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    display: flex;
    position: relative;
    &._checkout {
      @media (max-width: 656px) {
        display: block;
      }
    }
    @media (max-width: 480px) {
      display: none;
    }


    &.mobile {
      display: none;
      font-size: 6rem;
      padding: 0 2rem;
      border-radius: 50%;
      box-shadow: 1px 1px 4px #edc7f6;
      font-family: 'Playfair Display';
      color: #686868;
      @media (max-width: 480px) {
        display: flex;
      }
    }
  }

  &__items {
    display: flex;
    align-items: center;
  }

  &__item-icon {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    transition: .2s;
    fill: currentColor;
    cursor: pointer;
    @media (max-width: 480px) {
      align-items: center;
      justify-content: center;
    }
  }

  &__icon-internal {
    font-size: 1.6em;

    &._gray {
      color: #a9a6a6;
      padding-bottom: 1rem;
      font-size: 2.3rem;
    }

    @media (max-width: 480px) {
      font-size: 3rem;
    }
  }

  &__item {
    &_left {
      width: 64px;
      height: 72px;
      transition: .15s;
      &:hover .header__item-menu .user-nav {
        visibility: visible;
        opacity: 1;
      }
    }
    &_right {
      width: 64px;
    }
  }

}



.user-nav {
  visibility: hidden;
  opacity: 0;
  transition: .2s;
  transition-delay: .2s;
  width: 25rem;
  position: absolute;
  top: 100%;
  right: 0;


  &__body {
    border-radius: 6px;
    box-shadow: 1px 1px 4px #e6e3e6;
    background: #f2f2f2;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__body-item {
    display: flex;
  }

  &__name {
    display: flex;
    align-items: center;
    color: currentColor;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 1px dashed #ccc;
    width: 100%;
    padding-bottom: 1.2rem;
    cursor: default;
  }

  &__icon {
    font-size: 1.4rem;
    margin-right: 1.4rem;
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: 300;
    color: currentColor;
    text-decoration: none;
    margin-top: 1.6rem;
    & > .pi {
      font-size: 2rem;
      margin-right: 1.6rem;
    }
  }


}

.checkout-header {
  width: 100%;
  background-color: #F2F2F2F2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  @media (max-width: 1180px) {
    padding: 0 2rem;
  }

  @media (max-width: 768px) {
    width: 100%;
    padding: 0 1rem;
  }

  &__layout {
    margin: 0 auto;
    background-color: #F2F2F2;
    max-width: 118rem;
    z-index: 10; 
    position: relative;
  }

  &__main {
    max-width: 1180px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ececec;
    position: relative;
    @media (max-width: 480px) {
      min-height: 12rem;
      justify-content: center;
    }
  }

  &__logo {
    display: flex;
    position: relative;
    justify-content: center;
    border-bottom: 1px solid #ececec;
    @media (max-width: 480px) {
      border-bottom: none;
    }
  }

  & .brand-picture {
    height: 7.2rem;
  }
}

.navigation {

  &__layout {
    margin: 0;
    padding: 0;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    background: #fff;
  }

  &__item {

  }


  &__link {
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 24px 20px;
  }
}

a {
  text-decoration : none;
  color : #343a40;

  &.active {
    color: orange;
  }
}

a {
  transition: color 0.1s ease;
}


.logo {
  cursor: pointer;
  color: #48d597;
  display: flex;
  align-items: center;
  position: relative;
  top: -2px;

  &._checkout {
    @media (max-width: 656px) {
      display: block;
    }
  }

  @media (max-width: 480px) {
    display: none;
    
  }

  &:focus {
    outline: none;
  }

  &__image {
    width: 200px;
    transition: fill .2s;
    overflow-clip-margin: content-box;
    overflow: clip;
  }
}


.central-container {
  display: flex;
  width: 100%;
  margin: 0 40px;
}

.header__items-right {
  min-width: 19.2rem;
  display: flex;
  align-items: center;
  margin: 0 -2rem;

}

.search-item {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 40px;
  width: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fff;
}

.search-field {
  width: 100%;
  margin: 0 16px;
}

.input-field {
  display: inline-flex;
  border: none;
  background-color: transparent;
  height: 30px;
  box-sizing: border-box;
  border-radius: 8px;
  font-size: 14px;
  color: #414141;
  width: 100%;
}

:root {
  [contenteditable].form-control:focus, [type=email].form-control:focus, [type=password].form-control:focus, [type=tel].form-control:focus, [type=text].form-control:focus, input.form-control:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=text]:focus, textarea.form-control:focus, textarea:focus {
    box-shadow: none;
  }

  [contenteditable].form-control, [type=email].form-control, [type=password].form-control, [type=tel].form-control, [type=text].form-control, input.form-control, input[type=email], input[type=number], input[type=password], input[type=text], textarea, textarea.form-control {
     box-shadow: none;
    transition: none;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
  display: none; 
  transition: background-color 0.3s ease; 
  backdrop-filter: blur(10px);
}

.modal-open {
  overflow: hidden;
}

.filter-button {
  display: inline-flex;
  align-items: center;

  &__text {
    display: inline-flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 2.4rem;
    color: #9e9c9c;
    margin-right: 1rem;
  }
}

:root  {
  .p {
    &-component {
      font-family: 'Manrope', sans-serif;
      font-size: 1.6rem;
      font-weight: 300;
    }

    &-badge {
      width: 1.8rem;
      height: 1.8rem;
      font-size: 1rem;
      font-weight: bold;

      &-success {
        background-color: #ec5c5d;
        color: white;
      }
    }


  }
  .p-badge.p-badge-lg {
    min-width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
  }
}

