<div class="subscribe-block">
  <div class="layout">
    <div class="subscribe-block__inner">
      <div class="subscribe-block__icon">
        <i class="pi pi-envelope"></i>
      </div>
      <div class="subscribe-block__title">
        Subscribe to the newsletter for discounts and news
      </div>
      <form class="subscribe-block__form">
        <div class="subscribe-block__form-inner">
          <input type="text" class="subscribe-block__form-input label__input" placeholder="Enter your email">
          <!--<button class="subscribe-block__form-submit btn -dark">
            Subscribe
          </button>-->
          <app-button buttonStyle="subscribe-block__form-submit btn btn_size_medium btn_color_seaGreen" buttonName="Subscribe"/>
        </div>
      </form>
    </div>
  </div>
</div>
