<div class="rev">
  <div class="review">
    <div class="review__name_instagram">
      <div class="review__name">
        <mat-icon class="review__icon">
          account_circle
        </mat-icon>
        <div>
          user911
        </div>
    </div>
    <div class="review__rating_date">
      <div class="review__date">
        06.10.2022 16:30:23
      </div>
      <div class="review__rating">
        <p-rating [(ngModel)]="rating" [cancel]="false"/>
      </div>
    </div>
    <div class="review__body">
      {{review.comment}}
    </div>
  </div>
</div>
