.review {
  padding: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 12%);

  &__name {
    display: flex;
    margin: 1.2rem 0;
  }

  &__icon {
    margin-right: .8rem;
  }
  &__date {
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__body {
    margin-top: 2rem;
  }
}

.rev {
  margin-bottom: 1.2rem;
}
.review-header {
  border-bottom: 1px dashed #efefef;
  &__name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: .4rem;
  }

  &__user-field {
      display: flex;
  }

  &__icon {
      margin-right: .8rem;
  }

  &__rating {
      margin-left: 1rem;
  }

  &__username  {
      color: #BDBDBDBD;
      margin-bottom: .4rem;
  }

  &__date {
      color: #BDBDBDBD;
      margin-bottom: .4rem;
  }

}