<div class="form" [formGroup]="checkoutForm" >

  <!------------------------>
  <div class="form__row" formGroupName="addressForm">
    <div class="form__row form__row_type_flex">
      <app-text-input 
      formControlName="firstName" 
      [label]="'First name'" 
      class="form__input_gr1"
      [icon]="'pi pi-user-edit'"
      />
      <app-text-input 
      formControlName="lastName" 
      [label]="'Last name'" 
      class="form__input_gr1 form__input_ml_12"
      [icon]="'pi pi-user-edit'"
      />
    </div>
  </div>

  <!------------------------>
  <div class="form__row" formGroupName="addressForm">
    <div class="form__row form__row_type_flex">
      <app-text-input 
        formControlName="street" 
        [label]="'Street'" 
        class="form__input_gr1" 
        [icon]="'pi pi-map-marker'"
      />
      <app-text-input 
        formControlName="city" 
        [label]="'City'" 
        class="form__input_gr1 form__input_ml_12"
        [icon]="'pi pi-map'"
      />
    </div>
  </div>
  <!------------------------>
  <div class="form__row" formGroupName="addressForm">
    <div class="form__row form__row_type_flex" [ngStyle]="{'width': '49.5%'}">
      <app-text-input 
        formControlName="zipcode" 
        [label]="'Zip code'" 
        class="form__input_gr1"
        [icon]="'pi pi-truck'"
      />
    </div>
  </div>

  <!------------------------>
  <div class="form__row" [ngStyle]="{'margin-top': '2rem'}">
    <app-button (click)="updateUserInfo()" buttonName="Save information" buttonStyle="btn btn_color_dark btn_size_medium basket-list__checkout-button"/>
  </div>
</div>
<p-toast></p-toast>


 
