  .speedDial {
    position: fixed;
    bottom: 28rem;
    right: 10rem;
    z-index: 1000;
  }

  .main-content {
    padding-top: 7.2rem;
    @media (max-width: 480px) {
      padding-top: 12rem;
    }
  }
