.layout {
  padding: 2rem;
  border-radius: 8px;

  box-shadow: 1px 1px 4px #efefef;

}

.review {
  padding: 1rem;

  &__header {
    margin-bottom: 2rem;
  }

  &__body {
    display: flex;
  }

  &__image {
    box-shadow: 2px 2px 4px rgba(124, 124, 124, 0.2);
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  &__content {
    flex: 1;
  }

  &__picture {
    max-height: 15.5rem;
    max-width: 10rem;
    object-fit: cover;
  }
}