<section class="reviews-block">
    <div class="layout">
        <div class="reviews-block__inner">
            <div class="reviews-block__header">
                <div class="reviews-block__heading">Latest <em>reviews</em></div>
            </div>
            <div class="reviews-block__content">
                @for (review of (reviews$ | async); track review.id) {
                    <div class="review-component">
                        <div class="review-component__product">
                            <div class="review-product">
                                <div class="review-product__container">
                                    <div class="review-product__image">
                                        <img src="https://via.placeholder.com/100x100" alt="Product image">
                                    </div>
                                    <div class="review-product__name">
                                        <div class="review-product__naming">{{review?.name}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-component__review">
                            <div class="review-content">
                                <div class="review-content__header">
                                    <div class="review-header">
                                        <div class="review-header__name">
                                            <div class="review-header__icon">
                                                <i class="pi pi-instagram"></i>
                                            </div>
                                            <div class="review-header__username">
                                                {{review?.username}}
                                            </div>
                                        </div>
                                        <div class="review-header__date">
                                            {{review?.date}}
                                        </div>
                                        <div class="review-header__rating">
                                            <p-rating [(ngModel)]="rating" [disabled]="true" [cancel]="false"></p-rating>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-content__text">
                                    {{review?.comment}}
                                </div>
                            </div>
                        </div>
                    </div>
                } @empty {
                    <div>placeholer</div>
                }
            </div>
        </div>
    </div>
</section>