<section class="reviews-block">
    <div class="layout">
        <div class="reviews-block__inner">
            <div class="reviews-block__header">
                <div class="reviews-block__heading">Latest <em>reviews</em></div>
            </div>
            <div class="reviews-block__content">
                @for (review of (reviews$ | async); track review.id) {
                    <div class="review-component">
                        <div class="review-component__product">
                            <div class="review-product">
                                <div class="review-product__container">
                                    <div class="review-product__image">
                                        <img [src]="review.pictureUrl" class="review-product__picture" alt="Product image">
                                    </div>
                                    <div class="review-product__name">
                                         <div class="review-product__naming">{{review?.productName}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="review-component__review">
                            <div class="review-content">
                                <div class="review-content__header">
                                    <div class="review-header">
                                        <div class="review-header__name">
                                            <div class="review-header__user-field">
                                                <div class="review-header__icon">
                                                    <i class="pi pi-instagram"></i>
                                                </div>
                                                <div class="review-header__username">
                                                    {{review?.userName}}
                                                </div>

                                                <div class="review-header__rating">
                                                    <p-rating [(ngModel)]="review.rating" [disabled]="true" [cancel]="false"></p-rating>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="review-header__date">
                                                    {{review?.createdOnUtc | date: 'dd.MM.yyyy, HH:mm'}}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="review-content__text">
                                    {{review?.comment}}
                                </div>
                            </div>
                        </div>
                    </div>
                } @empty {
                    <div>placeholer</div>
                }
            </div>
        </div>
    </div>
</section>