<div class="info-form">
  <div class="info-form__body">
    <div class="info-form__set">
      <div class="info-form__set-header">
        <div class="info-form__set-title">Main information</div>
      </div>
      <form [formGroup]="userForm">
        <div class="info-form__row">
          <div class="info-form__row-item">
            <app-text-input
              [label]="'Phone number'"
              [placeholder]="'380501234567'"
              [minLength]="'10'"
              formControlName="phone"
              [type]="'tel'"
              [pattern]="'[0-9]*'"
              [icon]="'pi pi-phone'"
            />
          </div>
          <div class="info-form__row-item">
            <app-text-input
            formControlName="email"
            [label]="'Email'"
            [placeholder]="'johndoe@example.com'"
            [icon]="'pi pi-at'"
          />
          </div>
        </div> 
        <div class="info-form__row" style="width: 49%;">
          <div class="info-form__row-item">
            <app-text-input
              [label]="'User name'"
              formControlName="displayName"
              [icon]="'pi pi-user-edit'"
            />
          </div>
        </div>
        <div class="info-form__row-item">
          <app-button (click)="updateUser()" buttonName="Save information" buttonStyle="btn btn_color_light btn_size_medium basket-list__checkout-button"/>
        </div>
      </form>
    </div>
    <div class="info-form__set">
      <div class="info-form__set-header">
        <div class="info-form__set-title">Address information</div>
      </div>
      <form [formGroup]="addressForm">
        <div class="info-form__row">
          <div class="info-form__row-item">
            <app-text-input
              [label]="'First name'"
              formControlName="firstName"
              [icon]="'pi pi-user-edit'"
            />
          </div>
          <div class="info-form__row-item">
            <app-text-input
            formControlName="lastName"
            [label]="'Last name'"
            [icon]="'pi pi-user-edit'"
          />
          </div>
        </div>
        <div class="info-form__row">
          <div class="info-form__row-item">
            <app-text-input
              [label]="'Street'"
              formControlName="street"
              [icon]="'pi pi-map-marker'"
            />
          </div>
          <div class="info-form__row-item">
            <app-text-input
              formControlName="city"
              [label]="'City'"
              [icon]="'pi pi-map'"
            />
          </div>
        </div>
        <div class="info-form__row" style="width: 49%;">
          <div class="info-form__row-item">
            <app-text-input
              [label]="'Zip code'"
              formControlName="zipcode"
              [icon]="'pi pi-truck'"
            />
          </div>
        </div>
        <div class="info-form__row">
          <div class="info-form__row-item">
            <app-button (click)="updateAddressInfo()" buttonName="Save address" buttonStyle="btn btn_color_light btn_size_medium basket-list__checkout-button"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<p-toast></p-toast>