@import "src/app/shared/styles/common.scss";
/*@import "src/app/features/checkout/checkout/checkout.component.scss";*/

.mat-mdc-form-field {
  width: 100%;
}

.mat-expansion-panel {
  margin: 1.2rem;
}

.mdc-text-field {
  box-shadow: 2px 2px 4px rgb(0 0 0 / 13%);
}

.info-form {
  &__body {

  }

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;


  }

  &__row-item {
    flex: 1;
    margin-right: 2rem;
    width: 100%;

    &:last-child {
      margin-right: 0;
    }
  }
}
