@import "src/app/shared/styles/common.scss";
/*@import "src/app/features/checkout/checkout/checkout.component.scss";*/

.mat-mdc-form-field {
  width: 100%;
}

.mat-expansion-panel {
  margin: 1.2rem;
}

.mdc-text-field {
  box-shadow: 2px 2px 4px rgb(0 0 0 / 13%);
}

.info-form {
  margin: 2rem 4rem;
  &__body {

  }

  &__set {
    padding: 2rem;
    border: 1px dashed #e5e2e2d9;
    border-radius: 6px;
    background-color: #f7f7f7;
    margin-bottom: 1rem;
  }

  &__set-header {
    margin-bottom: 3rem;
  }

  &__set-title {
    font-size: 1.6rem;
    font-weight: bold;
  }

  &__row {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;


  }

  &__row-item {
    flex: 1;
    margin-right: 2rem;
    width: 100%;

    &:last-child {
      margin-right: 0;
    }
  }
}
