
.mat-icon {
    height: 3.6rem;
    width: 3.6rem;
}

.material-icons {
    font-size: 3.6rem;
}

.footer {

    &__inner {
        border-top: 1px solid #ececec;
        padding: 6rem 0;
    }

    &__columns {
        display: flex;
        position: relative;
    }

    &__column {

        width: 25%;
        padding-right: 5rem;

        &.-catalog {
            padding-right: 0;
        }

        &.-social {
            padding-left: 0;
        }

        &.-contacts {
            display: flex;
            flex-direction: column;
        }

        &.-customer {

        }

        &.-payments {

        }
    }

    &__row {
        display: flex;
    }

    &__title {
        font-size: 1.8rem;
        font-weight: 700;
        margin-bottom: 2.4rem;
    }

    &__navigation {
        
    }

    &__links {
        display: flex;
        flex-direction: column;
    }

    &__link {
        padding: .5rem 0;
    }

    &__email {
        margin-top: 1.2rem;
        margin-bottom: 2.8rem;
    }

    &__address {
        margin-top: 3rem;
    }

    &__address-line {
        margin-top: 1rem;
    }

}

.socials {
    &__title {

    }
    &__items {
        display: flex;
        margin-top: 1.2rem;
    }

    &__item {
        margin-right: 1.2rem;
    }   
}