<div class="footer">
  <div class="layout">
    <div class="footer__inner">
      <div class="footer__columns">
        <div class="footer__column">
          <div class="footer__title">
            <span>Our company</span>
          </div>
          <div class="footer__row">
            <div class="footer__navigation">
              <div class="footer__links">
                <a href="" class="footer__link">About us</a>
                <a href="" class="footer__link">Team</a>
                <a href="" class="footer__link">Where to buy</a>
                <a href="" class="footer__link">Resellers</a>
                <a href="" class="footer__link">Influencers</a>
                <a href="" class="footer__link">Affiliates</a>
                <a href="" class="footer__link">Media</a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__column">
          <div class="footer__title">
            <span>Catalog</span>
          </div>
          <div class="footer__row">
            <div class="footer__navigation">
              <div class="footer__links">
                <a href="" class="footer__link">Sleepwear</a>
                <a href="" class="footer__link">Footwear</a>
                <a href="" class="footer__link">Accesoires</a>
                <a href="" class="footer__link">Hats</a>
                <a href="" class="footer__link">Dresses</a>
                <a href="" class="footer__link">Vintage</a>
                <a href="" class="footer__link">Bottoms</a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__column">
          <div class="footer__title">
            <span>Customer</span>
          </div>
          <div class="footer__navigation">
            <div class="footer__links">
              <a href="" class="footer__link">Blog</a>
              <a href="" class="footer__link">Community</a>
              <a href="" class="footer__link">Help center</a>
              <a href="" class="footer__link">Contact us</a>
              <a href="" class="footer__link">Track order</a>
              <a href="" class="footer__link">Coupons</a>
              <a href="" class="footer__link">Press kit</a>
            </div>
          </div>
          
        </div>
        <div class="footer__column">
          <div class="footer__title">
            <span>Useful links</span>
          </div>
          <div class="footer__navigation">
            <div class="footer__links">
              <a href="" class="footer__link">FAQ</a>
              <a href="" class="footer__link">Terms of use</a>
              <a href="" class="footer__link">Privacy policy</a>
              <a href="" class="footer__link">Cookies</a>
              <a href="" class="footer__link">Shipping</a>
              <a href="" class="footer__link">Returns</a>
              <a href="" class="footer__link">Site map</a>
            </div>
          </div>
          
        </div>
        <div class="footer__column">
          <div class="newsletter">
            <div class="newsletter__header">Newsletter</div>
            <div class="newsletter__description">Want to know what we're up to? Sign up for the newsletter and get your first discount coupon! </div>
            <div class="newsletter__form">
              <input class="newsletter__input" type="text" placeholder="Enter your email">
              <button class="newsletter__button">Subscribe</button>
            </div>
          </div>
          <div class="footer-socials">
            <div class="footer-socials__item">
              <a class="footer-socials__link">
                <i class="pi pi-telegram"></i>
              </a>
            </div>
            <div class="footer-socials__item">
              <a class="footer-socials__link">
                <i class="pi pi-facebook"></i>
              </a>
            </div>
            <div class="footer-socials__item">
              <a class="footer-socials__link">
                <i class="pi pi-github"></i>
              </a>
            </div>
            <div class="footer-socials__item">
              <a class="footer-socials__link">
                <i class="pi pi-linkedin"></i>
              </a>
            </div>
            <div class="footer-socials__item">
              <a class="footer-socials__link">
                <i class="pi pi-twitter"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div>Copyright © 2024 by Vlad Kalinin </div>
      </div>
    </div>
  </div>
</div>