<div class="footer">
  <div class="layout">
    <div class="footer__inner">
      <div class="footer__columns">
        <div class="footer__column -contacts">
          <a class="footer_tel" href="tel:+380999999999" class="footer__phone">+38 (099) 999-99-99</a>
          <a class="footer_tel" href="tel:+380999999999" class="footer__phone">+38 (099) 999-99-99</a>
          <a class="footer__email" href=""> info&#64;gmail.com </a>
          <div class="footer__socials">
            <div class="socials">
              <div class="socials__title">
                <span>We in social medias: </span>
              </div>
              <div class="socials__items">
                <a href="www.facebook.com" class="socials__item">
                  <mat-icon>facebook</mat-icon>
                </a>
                <a href="www.facebook.com" class="socials__item">
                  <mat-icon>facebook</mat-icon>
                </a>
                <a href="www.facebook.com" class="socials__item">
                  <mat-icon>facebook</mat-icon>
                </a>
              </div>
            </div>
          </div>
          <div class="footer__address">
            <div class="footer__address-line">
              <span>Address: </span>
              <span>Ukraine, Kyiv, 01001, vul. Khreshchatyk, 1</span>
            </div>
            <div class="footer__address-line">
              <span>Address: </span>
              <span>Ukraine, Kyiv, 01001, vul. Khreshchatyk, 1</span>
            </div>
          </div>
        </div>
        <div class="footer__column -catalog">
          <div class="footer__title">
            <span>Catalog</span>
          </div>
          <div class="footer__row">
            <div class="footer__navigation">
              <div class="footer__links">
                <a href="" class="footer__link">About us</a>
                <a href="" class="footer__link">Delivery</a>
                <a href="" class="footer__link">Payment</a>
                <a href="" class="footer__link">Return</a>
                <a href="" class="footer__link">Contacts</a>
                <a href="" class="footer__link">FAQ</a>
                <a href="" class="footer__link">Blog</a>
                <a href="" class="footer__link">Privacy policy</a>
                <a href="" class="footer__link">Terms of use</a>
                <a href="" class="footer__link">Site map</a>
              </div>
            </div>
            <div class="footer__navigation">
              <div class="footer__links">
                <a href="" class="footer__link">About us</a>
                <a href="" class="footer__link">Delivery</a>
                <a href="" class="footer__link">Payment</a>
                <a href="" class="footer__link">Return</a>
                <a href="" class="footer__link">Contacts</a>
                <a href="" class="footer__link">FAQ</a>
                <a href="" class="footer__link">Blog</a>
                <a href="" class="footer__link">Privacy policy</a>
                <a href="" class="footer__link">Terms of use</a>
                <a href="" class="footer__link">Site map</a>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__column -customer">
          <div class="footer__title">
            <span>Customer</span>
          </div>
          <div class="footer__navigation">
            <div class="footer__links">
              <a href="" class="footer__link">About us</a>
              <a href="" class="footer__link">Delivery</a>
              <a href="" class="footer__link">Payment</a>
              <a href="" class="footer__link">Return</a>
              <a href="" class="footer__link">Contacts</a>
              <a href="" class="footer__link">FAQ</a>
              <a href="" class="footer__link">Blog</a>
              <a href="" class="footer__link">Privacy policy</a>
              <a href="" class="footer__link">Terms of use</a>
              <a href="" class="footer__link">Site map</a>
            </div>
          </div>
          
        </div>
        <div class="footer__column">         
        </div>
      </div>
    </div>
  </div>
</div>