.basket {
  position: relative;

  &__layout {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    padding: 24px;
    outline: 0;
    min-height: 700px;
    position: relative;
    border-radius: 8px; 
    background-color: #fff;
  }

  &__header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 57px;
    border-bottom: 1px dashed #e9e9e9;
    padding: 0 24px;
    box-shadow: 0 2rem 4rem rgba(97,97,97,.1);
  }


  &__heading {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
  }

  &__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  &__close {
    /*position: fixed;
    right: 215px;
    top: 0px;*/
  }

  &__close-tab {
    position: absolute;
    cursor: pointer;
    right: 16px;
    top: 16px
  }

}

.basket-list {

  padding: 16px 0;

  &___item {
    margin-top: 8px;
  }

  &__seller-heading {
    font-size: 18px;
    font-weight: 500;
  }

  &__checkout {
    cursor: pointer;
    text-decoration: underline;
    transition: color .15s,text-decoration-color .15s,-webkit-text-decoration-color .15s;
    color: #48d597;
    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      margin-left: auto;
      margin-top: 16px;
      background-color: #48d597;
      color: #414141;
      box-sizing: border-box;
      padding: 0 16px;
      border: none;
      border-radius: 8px;
      text-decoration: none;
      letter-spacing: .1px;
      font-weight: 500;
      height: 40px;
      cursor: pointer;
      transition: color .2s;
      user-select: none;
      pointer-events: auto;
    }
  }
}

.basket-product {

  &__body {
    padding-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px dashed #eee;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    position: relative;
    align-items: center;
    @media (max-width: 656px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @media (max-width: 480px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    padding-right:40px;
  }

  &__picture {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  &__picture-image {
    max-height:  115px;
    max-width: 80px;
  }

  &__main {
    margin-left: 16px;
  }
}

.product-amount {
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-shrink: 0;
  margin-top: 16px;
  margin-left: 16px;

  @media (max-width: 656px) {
    margin-left: auto;
  }

  &__heading {
    font-size: 12px;
    color: #8e8e8e;
  }

  &__price {
    text-align: center;
    border-radius: 8px;
    box-shadow: 0.4px 2px 4px #e8e8fe;
    padding: 0.6rem;
    margin-right: 1.2rem;
    min-width: 8rem;
  }

  &__quantity {
    text-align: center;
    border-radius: 8px;
    box-shadow: 0.4px 2px 4px #cfefe3;
    padding: 0.6rem;
    margin-right: 1.2rem;
    min-width: 8rem;
    transition: ease-in-out 0.5s;
    &:hover {
      box-shadow: 0.4px 2px 6px #baedda;
    }
  }

  &__sum {
    text-align: center;
    border-radius: 8px;
    box-shadow: 0.4px 2px 4px #fce8e8;
    padding: 0.6rem;
    margin-right: 1.2rem;
    min-width: 8rem;
  }

  &__value {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
    font-weight: 500;
  }

  &__indecrease {
    cursor: pointer;
  }

  &__price-val {
    margin-top: 8px;
    font-weight: 500;
    min-width: 75px;
  }
}

.product-action {
  &__delete {
    transform: scale(1.4);
    position: absolute;
    right: 0;
    cursor: pointer;
    height: 24px;
    padding: 8px;
    border-radius: 100%;
  }
}
.item-labels {
  margin-top: 0.6rem;
}
.item-label {
  padding: 0 1rem;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1rem;
  background: #212121;
  color: #fff;
  white-space: nowrap;
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  position: relative;

  &_blue {
    background: #42bfdd;
  }

  &_orange {
    background: #f2a965;
  }

  &_red {
    background: #ec5c5d;
  }

  &_white {
    background: #fff;
    color: #212121;
  }
}