<div class="nav-modal" [ngClass]="{'is-active': isMenuActive}">
  
  <div class="layout" style="z-index: 10;">
    <div class="nav-modal__inner">
      <div class="nav-modal__body">
        <div class="nav-modal__left">
          <div class="nav-modal__item">
            <a (click)="toggleMenu()" routerLink="/" class="nav-modal__link" href="/ua/payment/">
              HOME
            </a>
          </div>
          <div class="nav-modal__item">
            <a (click)="getCategories()" class="nav-modal__link">
              CATALOG
            </a>
          </div>
          <div class="nav-modal__item">
            <a class="nav-modal__link">
              ABOUT US
            </a>
          </div>
          <div class="nav-modal__item">
            <a class="nav-modal__link">
              CONTACTS
            </a>
          </div>
          <div class="nav-modal__item">
            <a class="nav-modal__link">
              BLOG
            </a>
          </div>
          <div class="nav-modal__item">
            <a class="nav-modal__link">
              SUPPORT
            </a>
          </div>
          <div class="nav-modal__item">
            <a class="nav-modal__link">
              FAQ
            </a>
          </div>
        </div>
        <div class="nav-modal__center">
          <div class="center" [ngClass]="{'_hidden' : areCategoriesLoaded}">
            <div class="nav-modal__item">
              <a class="nav-modal__link" href="/ua/catalog/">
                PARTNERS
              </a>
            </div>
            <div class="nav-modal__item">
              <a class="nav-modal__link" href="/ua/catalog/">
                DELIVERY
              </a>
            </div>
            <div class="nav-modal__item">
              <a class="nav-modal__link" href="/ua/catalog/">
                ORDERS
              </a>
            </div>
            <div class="nav-modal__item">
              <a class="nav-modal__link" href="/ua/catalog/">
                RETURNS
              </a>
            </div>
          </div>
          <div class="categories">
            <div class="categories__list">
              @for (categoryName of categoryNames; track $index) {
                <div class="categories__item">
                  <a (click)="toggleMenu()" routerLink="/shop/{{categoryName}}">{{categoryName}}</a>
                </div>
              } 
            </div>
          </div>
        </div>
        <div class="nav-modal__right">
          <div class="right-block">
            <div class="right-block__container">
              <div class="right-block__tel">
                <a class="tel">
                  (099) 999 99 99
                </a>
                <br>
                <a class="tel">
                  (099) 999 99 99
                </a>
              </div>
              <div class="right-block__socials">
                <div class="socials">
                  <div class="socials__title">Our socials:</div>
                  <div class="socials__list">
                    <a class="socials__item" href="https://www.facebook.com/" target="_blank">
                      <i class="pi pi-facebook"></i>
                    </a>
                    <a class="socials__item" href="https://www.instagram.com/" target="_blank">
                      <i class="pi pi-instagram"></i>
                    </a>
                    <a class="socials__item" href="https://telegram.org/" target="_blank">
                      <i class="pi pi-telegram"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="right-block__account">
                <a class="right-block__account-link" href="/ua/personal/">
                  <i class="pi pi-user right-block__account-icon"></i>
                  <span class="right-block__account-text">
                    Account
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
