<div class="wishlist">
  <div class="layout">
    <div class="wishlist__inner">
      <div class="wishlist__title"> Wishlist </div>
      @if ((products$ | async)) {
        <div class="wishlist__list">
          @if ((products$ | async)?.length > 0) {
            @for (product of (products$ | async); track $index) {
              <app-product-item
              [product]="product"
              class="wishlist__item_w25"
              [isFavoritesIconVisible]="false"
              >
              </app-product-item>
            }
          } @else {
            @for (i of [1, 2, 3, 4]; track $index) {
              <ngx-skeleton-loader 
              [theme]="{height: '50rem', width: '27.5rem', margin: '0 0 2rem 2rem'}"
              ></ngx-skeleton-loader>
            }
          }
        </div>
      } @else {
        <app-empty [placeholderMessage]="'Your wishlist is empty'" [placeholderIcon]="'star'"></app-empty>
      }
    </div>
  </div>
</div>
