<div class="reg-field">

  <div class="dismiss">
    <a (click)="closeDialog()" class="dismiss__link">
      <i class="pi pi-times dismiss__icon"></i>
    </a>
  </div>

  <div class="reg-field__inner">
    <div class="reg-field__navigation">
      <a (click)="toggleRegisterMode()" class="navigation__login">Login</a>
      <a class="navigation__registration" [ngStyle]="{'background-color': registerMode ? '#d1f9c8' : ''}">Registration</a>
    </div>
    <div class="reg-field__header">
      <div class="reg-field__heading">
        Registration
      </div>
    </div>
    <form [formGroup]="registerForm" class="reg-field__form">
      <app-text-input 
        formControlName="displayName" 
        [label]="'Display name'"
        [icon]="'pi pi-user'"
        [placeholder]="'John Doe'"
      />
      <app-text-input 
        formControlName="email" 
        [label]="'Email'"
        [placeholder]="'johndoe@example.com'"
        [icon]="'pi pi-at'"
      />
      <app-text-input 
        [label]="'Phone number'"
        [placeholder]="'380501234567'"
        [minLength]="'10'"
        formControlName="phone"
        [type]="'tel'"
        [pattern]="'[0-9]*'"
        [icon]="'pi pi-phone'"
      />
      <app-text-input 
        formControlName="password" 
        [placeholder]="'**********'"
        [label]="'Password'" 
        [type]="'password'"
        [icon]="'pi pi-lock'"
      />
      <button (click)="onSubmit()" class="registration-form__submit-btn" [ngClass]="{'login-button__invalid': registerForm.invalid}"> Register </button>
    </form>
  </div>
</div>
