.reg-field {
  max-width: 400px;
  padding: 32px 40px;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  overflow-x: hidden;

  &__inner {

  }

  &__navigation {
    display: flex;
    overflow-x: auto;
  }

  &__header {

  }

  &__heading {
    font-family: 'Manrope';
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px dashed #dddbdb;
    font-size: 1.6rem;
  }

  &__form {
    margin-top: 24px;
  }
}

.navigation {
  &__login {
    background-color: #eee;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #414141;
    font-weight: 500;
    padding: 10px 16px;
    border-radius: 8px;
    margin-right: 8px;
  }

  &__registration {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    box-sizing: border-box;
    margin-right: 0px;
    border-radius: 8px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #414141;
    font-weight: 500;
  }
}

.registration-form {

  &__submit-btn {
    font-weight: 600;
    box-sizing: border-box;
    width: 100%;
    background-color: #48d597;
    color: #414141;
    margin-top: 24px;
    padding: 0 16px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    letter-spacing: .1px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    pointer-events: auto;
    justify-content: center;
    &:hover {
      background-color: #8fdbb0;
      color: #414141;
    }

    &_invalid {
      background-color: #eee;
      color: #414141;
      cursor: not-allowed;
      &:hover {
        background-color: #eee;
        color: #414141;
      }
    }
  }
}

