<div class="catalog-item">
  <div class="catalog-item__layout">
    <div class="catalog-item__image">
      <a href="/shop/{{product?.category}}/{{product?.id}}">
        <div class="catalog-item__pic-container">
          @if (productImages && productImages[imageIndex]) {
            <img routerLink="/shop/{{product?.id}}"
              [src]="productImages[imageIndex]"
              alt="{{product?.name}}"
              class="catalog-item__pic"
              (mouseenter)="setImageIndex(1)"
              (mouseleave)="setImageIndex(0)"
            >
          } @else {
            <div>
              <ngx-skeleton-loader [theme]="{height: '50rem'}" ></ngx-skeleton-loader>
            </div>
          }
        </div>
      </a>
      <div class="catalog-item__like">
        @if (!product?.isInWishlist) {
          @if (isFavoritesIconVisible) {
            <mat-icon 
              [ngStyle]="{'color': '#555555'}"
              (click)="addItemToWishlist()"
              class="catalog-item__like-icon" 
              color="primary" 
              [ngClass]="{'favorite': product?.isInWishlist}"> favorite_border
            </mat-icon>
          } @else {
            <i (click)="removeItemFromWishlist()" class="pi pi-times catalog-item__times-icon"></i>
          }
        } @else {
          @if (isFavoritesIconVisible) {
            <mat-icon 
              [ngStyle]="{'color': '#ec5c5d'}"
              (click)="removeItemFromWishlist()"
              class="catalog-item__like-icon" 
              color="primary" 
              [ngClass]="{'favorite': product?.isInWishlist}"> favorite
            </mat-icon>
          } @else {
            <i (click)="removeItemFromWishlist()" class="pi pi-times catalog-item__times-icon"></i>
          }
        }
      </div>
      <div class="catalog-item__labels">
        @if (product?.isNew) {
          <div class="item-label item-label_blue"> New </div>
        }
        @if (product?.isBestSeller) {
          <div class="item-label item-label_orange"> Bestseller </div>
        }
        @if (product?.oldPrice !== null && product?.oldPrice > 0) {
          <div class="item-label item-label_red"> -{{ product?.oldPrice | discount: product?.price }} </div>
        }
      </div>
    </div>
    <div class="catalog-item__caption">
      <a class="catalog-item__name" href="/shop/{{product?.category}}/{{product?.id}}">
        {{product?.name | shorten: 35}}
      </a>
      <div class="detail-palette">
        <div class="detail-palette__links">
          @if (productColors && productColors?.length > 0) {
            @for (color of productColors; track $index) {
              <span class="detail-palette__link" [ngStyle]="{ 'background': color.colorCode }"></span>
            }
          }
        </div>
      </div>

      <div class="catalog-item__price">
        @if (product?.oldPrice !== null && product?.oldPrice > 0) {
          <div class="catalog-item__new-price">{{product?.price | currency: 'USD':'symbol':'1.2-2'}}</div>
          <div class="catalog-item__old-price">{{product?.oldPrice | currency: 'USD':'symbol':'1.2-2'}}</div>
        } @else {
          <div class="catalog-item__new-price">{{product?.price | currency: 'USD':'symbol':'1.2-2'}}</div>
        }
      </div>
      <div class="catalog-item__sizes-btn">
      <div class="catalog-item__sizes">
        @if (productSizes && productSizes?.length > 0) {
          @for (size of productSizes; track $index) {
            <span class="catalog-item__size">{{size?.name}}</span>
          }
        } 
      </div>
        <div class="catalog-item__button">
          <app-button
            (click)="addItemToBasket()"
            showIcon="true"
            iconClass="pi pi-shopping-bag"
            buttonName="Add to basket"
            buttonStyle="btn btn_color_dark btn_size_large basket-list__checkout-button"
          />
        </div>
      </div>
    </div>
  </div>
</div>