<!-- <div class="catalog-item">
  <div class="catalog-item__layout">
    <div class="catalog-item__image">
      <a href="/shop/{{product.category}}/{{product.id}}">
        <div class="catalog-item__pic-container">
          <img routerLink="/shop/{{product.id}}"
               src="{{productImages[imageIndex]?.url}}"
               alt="{{product.name}}"
               class="catalog-item__pic"
               (mouseenter)="setImageIndex(1)"
               (mouseleave)="setImageIndex(0)"
          >
        </div>
      </a>
      <div class="catalog-item__like">
        @if (!product.isInWishlist) {
          @if (isFavoritesIconVisible) {
            <mat-icon 
              [ngStyle]="{'color': '#555555'}"
              (click)="addItemToWishlist()"
              class="catalog-item__like-icon" 
              color="primary" 
              [ngClass]="{'favorite': product.isInWishlist}"> favorite_border
            </mat-icon>
          } @else {
            <i (click)="removeItemFromWishlist()" class="pi pi-times catalog-item__times-icon"></i>
          }
          <mat-icon 
            [ngStyle]="{'color': '#555555'}"
            (click)="addItemToWishlist()"
            class="catalog-item__like-icon" 
            color="primary" 
            [ngClass]="{'favorite': product.isInWishlist}"> favorite_border
          </mat-icon>
        } @else {
          @if (isFavoritesIconVisible) {
            <mat-icon 
              [ngStyle]="{'color': '#ec5c5d'}"
              (click)="removeItemFromWishlist()"
              class="catalog-item__like-icon" 
              color="primary" 
              [ngClass]="{'favorite': product.isInWishlist}"> favorite
            </mat-icon>
          } @else {
            <i (click)="removeItemFromWishlist()" class="pi pi-times catalog-item__times-icon"></i>
          }
        }
      </div>
      <div class="catalog-item__labels">
        @if (product?.isNew) {
          <div class="item-label item-label_blue"> New </div>
        }
        @if (product?.isBestSeller) {
          <div class="item-label item-label_orange"> Bestseller </div>
        }
        @if (product?.oldPrice !== null && product?.oldPrice > 0) {
          <div class="item-label item-label_red"> -{{ product.oldPrice | discount: product.price }} </div>
        }
      </div>
    </div>
    <div class="catalog-item__caption">
      <a class="catalog-item__name" href="/shop/{{product.category}}/{{product.id}}">
        {{product.name | shorten: 35}}
      </a>
      <div class="detail-palette">
        <div class="detail-palette__links">
          @if (productColors && productColors?.length > 0) {
            @for (color of productColors; track $index) {
              <span class="detail-palette__link" [ngStyle]="{ 'background': color.colorCode }"></span>
            }
          }
        </div>
      </div>
      <div class="catalog-item__price">
        @if (product?.oldPrice !== null && product?.oldPrice > 0) {
          <div class="catalog-item__new-price">{{product.price}} $</div>
          <div class="catalog-item__old-price">{{product.oldPrice}} $</div>
        } @else {
          <div class="catalog-item__new-price">{{product.price}} $</div>
        }
      </div>
      <div class="catalog-item__sizes-btn">
        <div class="catalog-item__sizes">
        </div>
        <div class="catalog-item__button">
          <app-button
            (click)="addItemToBasket()"
            showIcon="true"
            iconClass="pi pi-shopping-bag"
            buttonName="Add to basket"
            buttonStyle="btn btn_color_dark btn_size_large basket-list__checkout-button"
          />
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="catalog-item">
  <div class="catalog-item__layout">
    <div class="catalog-item__image">
      <a href="/shop/{{(_product$ | async)?.category}}/{{(_product$ | async)?.id}}">
        <div class="catalog-item__pic-container">
          <img routerLink="/shop/{{(_product$ | async)?.id}}"
               src="{{(_productImages$ | async)?.url}}"
               alt="{{(_product$ | async)?.name}}"
               class="catalog-item__pic"
               (mouseenter)="setImageIndex(1)"
               (mouseleave)="setImageIndex(0)"
          >
        </div>
      </a>
      <div class="catalog-item__like">
        @if (!(_product$ | async)?.isInWishlist) {
          @if (isFavoritesIconVisible) {
            <mat-icon 
              [ngStyle]="{'color': '#555555'}"
              (click)="addItemToWishlist()"
              class="catalog-item__like-icon" 
              color="primary" 
              [ngClass]="{'favorite': (_product$ | async)?.isInWishlist}"> favorite_border
            </mat-icon>
          } @else {
            <i (click)="removeItemFromWishlist()" class="pi pi-times catalog-item__times-icon"></i>
          }
          <mat-icon 
            [ngStyle]="{'color': '#555555'}"
            (click)="addItemToWishlist()"
            class="catalog-item__like-icon" 
            color="primary" 
            [ngClass]="{'favorite': (_product$ | async)?.isInWishlist}"> favorite_border
          </mat-icon>
        } @else {
          @if (isFavoritesIconVisible) {
            <mat-icon 
              [ngStyle]="{'color': '#ec5c5d'}"
              (click)="removeItemFromWishlist()"
              class="catalog-item__like-icon" 
              color="primary" 
              [ngClass]="{'favorite': (_product$ | async)?.isInWishlist}"> favorite
            </mat-icon>
          } @else {
            <i (click)="removeItemFromWishlist()" class="pi pi-times catalog-item__times-icon"></i>
          }
        }
      </div>
      <div class="catalog-item__labels">
        @if ((_product$ | async)?.isNew) {
          <div class="item-label item-label_blue"> New </div>
        }
        @if ((_product$ | async)?.isBestSeller) {
          <div class="item-label item-label_orange"> Bestseller </div>
        }
        @if ((_product$ | async)?.oldPrice !== null && (_product$ | async)?.oldPrice > 0) {
          <div class="item-label item-label_red"> -{{ (_product$ | async)?.oldPrice | discount: (_product$ | async)?.price }} </div>
        }
      </div>
    </div>
    <div class="catalog-item__caption">
      <a class="catalog-item__name" href="/shop/{{(_product$ | async)?.category}}/{{(_product$ | async)?.id}}">
        {{(_product$ | async)?.name | shorten: 35}}
      </a>
      <div class="detail-palette">
        <div class="detail-palette__links">
          @if ((_productColors$ | async) && (_productColors$ | async)?.length > 0; as IProductColor) {
            @for (color of (_productColors$ | async); track $index) {
              <span class="detail-palette__link" [ngStyle]="{ 'background': color.colorCode }"></span>
            }
          }
        </div>
      </div>
      <div class="catalog-item__price">
        @if ((_product$ | async)?.oldPrice !== null && (_product$ | async)?.oldPrice > 0) {
          <div class="catalog-item__new-price">{{(_product$ | async)?.price}} $</div>
          <div class="catalog-item__old-price">{{(_product$ | async)?.oldPrice}} $</div>
        } @else {
          <div class="catalog-item__new-price">{{(_product$ | async)?.price}} $</div>
        }
      </div>
      <div class="catalog-item__sizes-btn">
        <div class="catalog-item__sizes">
        </div>
        <div class="catalog-item__button">
          <app-button
            (click)="addItemToBasket()"
            showIcon="true"
            iconClass="pi pi-shopping-bag"
            buttonName="Add to basket"
            buttonStyle="btn btn_color_dark btn_size_large basket-list__checkout-button"
          />
        </div>
      </div>
    </div>
  </div>
</div>
