:root {
  --mainColor: #48d597;
  --secondaryColor: #414141;
  --backgroundColor: #eeeeee;
  --borderColor: #414141;

  // // PRime ng overrides
  // .p-badge-success {
  //   background-color: var(--mainColor);
  //   color: #414141
  // }

  // .p-badge {
  //   height: 18px;
  //   min-width: 18px;
  //   line-height: 18px;

  //   font-size: 10px;
  // }

  body {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
  }

  .mat-mdc-paginator-container {
    @media (max-width: 480px) {
      justify-content: center !important;
    }
  }


}
