<div class="order">
    <div class="layout">
        <div class="order__inner">
            <div class="order-details">
                <div class="order-details__status">
                    @switch (order?.status) {
                        @case ('Pending') {
                            <div class="status" [ngStyle]="{'background-color': '#fedddd'}">
                                {{order?.status}}
                            </div>
                        }
                        @case ('shipped') {
                            <div class="status" [ngStyle]="{'background-color': '#f5f5f5'}">
                                {{order?.status}}
                            </div>
                        }
                        @case ('Delivered') {
                            <div class="status" [ngStyle]="{'background-color': '#e6f4ea'}">
                                {{order?.status}}
                            </div>
                        }
                        @case ('cancelled') {
                            <div class="status" [ngStyle]="{'background-color': '#f5f5f5'}">
                                {{order?.status}}
                            </div>
                        }
                        @case ('returned') {
                            <div class="status" [ngStyle]="{'background-color': '#f5f5f5'}">
                                {{order?.status}}
                            </div>
                        }
                        @default {
                            <div class="status" [ngStyle]="{'background-color': '#f5f5f5'}">
                                {{order?.status}}
                            </div>
                        }
                    }

                </div>
                <div class="order-details__info">
                    <div class="order-info">
                        <div class="order-info__subject">
                            <div class="order-info__label">
                                Date: 
                            </div>
                            <div class="order-info__data">
                                {{order?.orderDate | date:'dd.MM.yyyy'}}
                            </div>
                        </div>
                        <div class="order-info__subject">
                            <div class="order-info__label">
                                Total: 
                            </div>
                            <div class="order-info__data">
                                {{order?.subtotal | currency:'USD':true}}
                            </div>
                        </div>
                        <div class="order-info__subject">
                            <div class="order-info__label">
                                Delivery: 
                            </div>
                            <div class="order-info__data">
                                {{order?.deliveryMethod?.shortName}}
                            </div>
                        </div>
                        <div class="order-info__subject">
                            <div class="order-info__label">
                                Address: 
                            </div>
                            <div class="order-info__data">
                                {{order?.shipToAddress.firstName}} 
                                {{order?.shipToAddress.lastName}}, 
                                {{order?.shipToAddress.street}}, 
                                {{order?.shipToAddress.city}}, 
                                {{order?.shipToAddress.zipcode}},
                                {{order?.shipToAddress.state}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-items">
                @for (item of (products$ | async); track $index) {
                    <div class="order-items__item">
                        <app-product-list-item [product]="item" type="checkout"></app-product-list-item>
                    </div>
                }
            </div>
        </div>
    </div>
</div>