<section class="products">
  <div class="layout">
    <div class="products__inner">
      <div class="products__header">
        <div class="products__title">
          {{ title }}
        </div>
        @if (title === 'Viwed products') {
        <a routerLink="/account/seen" class="products__all-link">
          <div class="products__all-link-text"> Open full list </div>
          <div class="products__all-link-icon">
            <i class="pi pi-chevron-down"></i>
          </div>     
        </a>
        } @else {
        <a routerLink="/shop/{{category}}" class="products__all-link">
          <div class="products__all-link-text"> Open full list </div>
          <div class="products__all-link-icon">
            <i class="pi pi-chevron-down"></i>
          </div>     
        </a>
        }
      </div>
      <div class="products__body">
        <div class="products__list" [ngClass]="{'products__list_full': (products$ | async)?.length >= 4}">
          @for (product of (products$ | async)?.slice(0, 4); track $index) {
            <div class="products__item">
              <app-product-item
                [categoryName]="category"
                [product]="product">
              </app-product-item>
            </div>
          } @empty {
            @for (i of [1, 2, 3, 4]; track i) {
              <div class="products__item products__skeleton" >
                <ngx-skeleton-loader [theme]="{height: '50rem'}" ></ngx-skeleton-loader>
              </div>
            }
          }
        </div>
      </div>
    </div>
  </div>
</section>

